* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background: rgb(250, 250, 250);
  color: rgb(17, 21, 23);
  font-family: "Nunito Sans", sans-serif;
  transition: all 300ms linear 0s;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 1rem;
}

nav {
  width: 100%;
  position: fixed;
  height: 80px;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px -2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 1rem;
}

.navbar__title {
  font-size: 1.5rem;
}
.navbar___change-theme button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  width: 6.75rem;
  align-items: center;
  border: none;
}
.navbar___change-theme span {
  font-size: 1rem;
}
.navbar___change-theme i {
  font-size: 17px;
}
.movies__title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header__inputs {
  margin-top: 120px;
}
.search-box {
  width: 30rem;
  height: 3rem;
  background-color: aqua;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 21, 23);
  padding-left: 4.5rem;
}
.search-box i {
  font-size: 1rem;
  color: rgb(167, 167, 161);
}
.search-box button {
  height: 100%;
  width: 20%;
  border: none;
  background-color: rgb(11, 11, 95);
  color: rgb(223, 228, 232);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.search-movie {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 0.9rem;
  display: flex;
  align-items: center;
}
.search-movie::placeholder {
  font-size: 0.9rem;
}

.loading {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.notFoundMessage {
  display: none;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: transparent;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(153, 199, 205);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.movies__container {
  margin: 0px;
  column-gap: 4.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1280px;
  row-gap: 2.5rem;
  margin: 2rem 3rem;
}
.movie__box {
  grid-column: span 4 / auto;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  overflow: hidden;
  max-width: 300px;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 15px 2px;
  transition: all 300ms ease-in-out 0s;
}
.movie__box:hover {
  transform: scale(1.07);
}
.movie__box img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.movie__name {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.movie__desc {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.read-more {
  font-size: 0.9rem;

  border: none;
  background-color: transparent;
  color: rgb(71, 71, 239);
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.movie__rating {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: center;
}
.movie__vote {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: center;
}
.movie__vote span{
  color: rgb(51, 0, 255);
  font-size: 0.89rem;
}
.movies__select {
  width: 30%;
  margin-left: 2rem;
  border-radius: 5px;
  height: 20%;
  border: 1px solid rgb(148, 145, 141), 83, 82;
  padding: 0.4rem;
  background-color: rgb(250, 249, 246);
  color: #272626;
}
.notFoundMessage {
  display: none;
}
.pagination {
  text-align: center;
  display: flex;
  width: 25rem;
  justify-content: space-between;
  margin-left: 38%;
  margin-bottom: 2rem;
}
.pagination li{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: rgb(144, 144, 135);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.pagination li:hover{
  background-color: blue;
  color: #fff;
}
@media (max-width: 1024px) {
  .movies__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1280px;
    row-gap: 2.5rem;
    margin: 2rem 3rem;
  }
  .movie__box {
    grid-column: span 6 / auto;
  }
  .movies__select {
    margin-left: 10%;
  }
  .pagination{
    width: 46%;
    margin-left:30%;
  }
 
}
@media (max-width: 992px) {
  .movies__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1280px;
    row-gap: 2.5rem;
    margin: 2rem 3rem;
    column-gap: 20px;
  }
  .movie__box {
    grid-column: span 6 / auto;
  }
  .movies__select {
    margin-left: 10%;
  }
    .pagination{
    width: 46%;
  }
  .pagination li{
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
}
@media (max-width: 768px) {
  .navbar__title {
    font-size: 0.875rem;
  }

  .navbar___change-theme button {
    width: 5.25rem;
  }
  .navbar___change-theme span {
    font-size: 0.75rem;
  }
  .navbar___change-theme i {
    font-size: 14px;
  }
  .search-box {
    width: 100%;
  }
  .pagination{
    width: 46%;
    margin-left: 30%;
  }
  .pagination li{
    width: 25px;
    height: 25px;
    font-size: 13px;
  }
}
@media (max-width: 567px) {
  .movies__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1280px;
    row-gap: 2.5rem;
    margin: 2rem 3rem;
    column-gap: 20px;
  }
  .movie__box {
    grid-column: span 12 / auto;
  }
  .movies__select {
    width: 80%;
    margin-right: 2rem;
  }
  .pagination{
    width: 46%;
    margin-left: 7rem;
  }
  .pagination li{
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}
